# API
PORT=3000

# Banco de dados (Postgres / Neon)
# Opção A — connection string única...
DATABASE_URL=

# Opção B — campos separados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=senha
DB_NAME=nome_do_banco
DB_SSL=false
# Em produção, "false"
DB_SYNCHRONIZE=true

# Broker MQTT
MQTT_URL=
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC_DATA=
MEDICAO_RESERVATORIO_ID=1
